.blog .title-wrapper-with-link{
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.blog-articles  .title-wrapper-with-link{
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.blog .blog__title{
  font-family: var(--font-heading-fontspring);
  text-transform: uppercase;
}
.blog{
  position: relative;
}
.blog__dec{
  max-width: 500px;
  margin: 0 auto;
  line-height: 30px;
}
.blog .card__heading > *{
  font-size: 24px;
}
.blog-articles  .card__heading > *{
  font-size: 24px;
}
.blog .article-card__image-wrapper img{
  object-fit: contain;
  background-color: #ffffff;
}
.blog-articles .article-card__image-wrapper img{
  object-fit: contain;
  background-color: #ffffff;
}
.blog .article-card__image-wrapper{
  box-shadow: 2px 2px 10px 0px #00000026;

}
.blog-articles .article-card__image-wrapper{
  box-shadow: 2px 2px 10px 0px #00000026;

}
.blog-articles .article-card .card__information, .blog__posts .article-card .card__information{
  padding-left: 0;
  padding-right: 0;
}
.main-blog .pagination__item--current{
  background-color: #E8AF3E;
}
.main-blog .pagination__item:not(.pagination__item--current){
  background-color: rgba(232, 175, 62, 0.5);
}
.article-card__info{
  display: flex;
  justify-content: space-between;
}
.article-card__info > *{
  letter-spacing: 0;
}
.read-more{
  text-transform: capitalize;
  font-style: italic;
  text-decoration-line: underline;
  
}
@media screen and (max-width: 989px) {
  .blog::before {
    width: 100px !important;
    height: 100px !important;
    top: 0px !important;
  }
  .blog::after {
    width: 100px !important;
    height: 100px !important;
    top: 95% !important;
  }
}