.multicolumn {
  position: relative;
}
.multicolumn .title {
  font-family: var(--font-heading-fontspring);
  text-transform: uppercase;
}
.multicolumn .title-wrapper-with-link {
  flex-direction: column;
  align-items: center;
}
.multicolumn .multicolumn-card {
  background: transparent !important;
}

.multicolumn .multicolumn-card__info .model-item {
  padding: 15px;
  background-color: #ffffff;
  border: 3px solid #e8af3e;
  border-radius: 3px;
  line-height: 22.4px;
  text-align: center;
  letter-spacing: 0;
  margin-top: 0;
  box-shadow: -5px 5px 1px #e8af3c;
  opacity: 0;
  transform: scale(0);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}
.multicolumn .multicolumn-card__info .model-item.scroll-animate {
  opacity: 1;
  transform: scale(1);
}
.multicolumn .multicolumn-card__info .model-item:nth-child(1).scroll-animate {
  transition-delay: 0.1s;
}
.multicolumn .multicolumn-card__info .model-item:nth-child(2).scroll-animate {
  transition-delay: 0.2s;
}
.multicolumn .multicolumn-card__info .model-item:nth-child(3).scroll-animate {
  transition-delay: 0.3s;
}
.multicolumn .multicolumn-card__info .model-item:nth-child(4).scroll-animate {
  transition-delay: 0.4s;
}
.multicolumn .multicolumn-card__info .model-item:nth-child(5).scroll-animate {
  transition-delay: 0.5s;
}
.multicolumn .multicolumn-card__info .model-item:nth-child(6).scroll-animate {
  transition-delay: 0.6s;
}
.multicolumn .multicolumn-list__item:only-child {
  max-width: 100%;
}

@media screen and (min-width: 990px) {
  .multicolumn .multicolumn-card__info .model-item:nth-child(1) {
    top: 0;
    left: 0;
  }
  .multicolumn .multicolumn-card__info .model-item:nth-child(2) {
    top: 40%;
    left: 0;
  }
  .multicolumn .multicolumn-card__info .model-item:nth-child(3) {
    top: 90%;
    left: 0;
  }
  .multicolumn .multicolumn-card__info .model-item:nth-child(4) {
    top: 0;
    right: 0;
  }
  .multicolumn .multicolumn-card__info .model-item:nth-child(5) {
    top: 40%;
    right: 0;
  }
  .multicolumn .multicolumn-card__info .model-item:nth-child(6) {
    top: 90%;
    right: 0;
  }
  .multicolumn .multicolumn-card__info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .multicolumn .multicolumn-card__info .model-item {
    position: absolute;
    max-width: 300px;
  }
}
@media screen and (max-width: 989px) {
  .multicolumn .multicolumn-card__info {
    display: grid;
    gap: 12px;
  }
  .multicolumn::before {
    width: 100px !important;
    height: 100px !important;
    top: 0px !important;
  }
  .multicolumn::after {
    width: 100px !important;
    height: 100px !important;
    top: 95% !important;
  }
}
