.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 1rem;
  font-size: clamp(36px, 5vw, 60px);
  text-align: center;
  font-family: var(--font-heading-fontspring);
  text-transform: uppercase;
}
.related-products__subheading{
  font-size: 18px;
  text-align: center;
  margin-top: 0;
}