slideshow-component.position-up{
  top: -102px;
}
.banner__heading > *{
  font-family: var(--font-heading-fontspring);
  font-size: clamp(40px, 4vw, 92px);
  line-height: clamp(45px, 4.5vw, 90px);
  margin-block: 0;
}
slideshow-component .banner__buttons .button{
  font-family: var(--font-heading-fontspring);
  font-size: 20px;
  font-weight: 400;
}
slideshow-component .banner__text{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
}