.prod-tabs__head::-webkit-scrollbar {
  display: none;
}

.prod-tabs__head {
  /* border-bottom: .1rem solid rgba(var(--color-foreground), .1); */
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: nowrap;
  margin: 0rem;
  background-color: rgba(29, 29, 29, 0.04);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.button-tab {
  /* padding: 1rem 1.5rem calc(1rem - 0.2rem) 1.5rem; */
  padding: 2rem;
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
  /* outline-b: 0.3rem solid rgba(39, 39, 39, 0); */
  cursor: pointer;
  flex: 1 0 auto;
  width: fit-content;
  max-width: fit-content;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: -1.5px;
}


.button-tab.active {
  font-weight: 600;
  border-bottom: 0.2rem solid rgba(var(--color-foreground), 1);
  color: rgba(39, 39, 39, 1);
}

.prod-tabs__content {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.ingredient-images{
  display: none;
}
.prod-tabs__content>div {
  padding: 1rem 0rem;
}
.image-wrapper img{
  width: 100%;
}
.prod-tabs__content .media{
  margin-top: 1rem;
}
.prod-tabs__content {
  max-height: var(--max-height, 0px);
}

.prod-tabs__content--inner {
  font-size: 1.5rem;
  color: #000000;
}

.prod-tabs__content--inner li {
  --font-size: 1.5rem;
  line-height: calc(var(--font-size) * 1.3);
}

.prod-tabs__content--inner li+li {
  margin-top: 0.7rem;
}

.prod-tabs__content--inner>p:first-child {
  margin-top: 0rem;
}

.prod-tabs__content--inner a {
  color: currentColor;
}

@media screen and (max-width: 750px) {
  .button-tab {
    font-size: 1.2rem;
  }

  .prod-tabs__content--inner {
    font-size: 1rem;
  }

  .prod-tabs__content--inner ul {
    padding-left: 2rem;
  }

}